src/*.exe
src/kittehcoin
src/kittehcoind
src/test_kittehcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.kittehcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
kittehcoin-qt
KittehCoin-Qt.app

# Unit-tests
Makefile.test
kittehcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile